<section>
  <h1>New Portfolio</h1>
  
  <div>
    <%= form_with model: @portfolio do |f| %>
      <div>
        <%= f.label :name, "Portfolio name:" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.submit "Create" %>
      </div>
    <% end %>
  </div>
</section>