<section>
  <div class="container mb-5">
    
    <div class="row">
      <div class="col-md-4">
        <%= turbo_frame_tag "account_console", src: account_path %>
      </div>

      <div class="col-md-8">
        <%= turbo_frame_tag "management_console" %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <%= turbo_frame_tag "portfolios_console", src: portfolios_path %>
      </div>

      <div class="col-md-8">
        <!-- src for this frame will be the account detailed view -->
        <%= turbo_frame_tag "portfolio_details" %>
      </div>
    </div>
    
  </div>
</section>