<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= turbo_frame_tag "portfolios_list", src: portfolios_path %>
      </div>

      <div class="col-md-8">
        <!-- src for this frame will be the account detailed view -->
        <%= turbo_frame_tag "portfolio_details" %>
      </div>
    </div>
  </div>
</section>