<h1>CryptoTracker</h1>

<table>
  <thead>
    <tr>
      <th>Coin</th>
      <th>Amount</th>
      <th>Rate (USD)</th>
      <th>24h change</th>
      <th>Value</th>
      <th>%</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>TOTAL</td>
      <td></td>
    </tr>
  </tfoot>
</table>