<h1>CryptoTracker</h1>

<p>A lightweight portfolio manager for your crypto currencies.</p>
<p>Simply add assets from a selected list and manage your funds.</p>

<h2><%= link_to "Create your account", new_user_registration_path %></h2>

<small>This is a personal study project, not intended for commercial use.</small>