<%= turbo_frame_tag "account_console" do %>
  <div class="container text-white bg-dark rounded-3 upper-containers mb-3 p-4">
    <div class="d-flex flex-column mb-3">
      <h3 class="fs-5 text-white-50 ">Net worth</h3>
      <span class="fs-1"><%= number_to_currency current_user.account.net_worth %></span>
    </div>
    <div>
      <%= link_to "Assets view", assets_account_path, class: "btn btn-outline-secondary w-100", data: { turbo_frame: "portfolio_details" } %>
    </div>
  </div>
<% end %>